<h1>All restaurants</h1>
<ul>
  <% @restaurants.each do |resto|  %>
  <li><%= resto.name %><%= link_to "See details", restaurant_path(resto), class: "btn btn-primary"%>
  </li>
  <% end %>
</ul>
<%= link_to "Add a new restaurant", new_restaurant_path, class: "btn btn-primary" %>
